
  html{
    scroll-behavior: smooth;
  }
body{
  background-color: #fff2d4;
}
  @import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
  @font-face {
    font-family: "Genty";
    src: url(Fonts/Genty-Regular.ttf);
  }
    header {   
      width: 100%;
      height: 100%;
        padding-top: 45%;
        background-image: url(img/Portada.png); 
        background-repeat:no-repeat;
background-size:contain;
background-position:center;
        margin-bottom: 0px;
        margin-top: 80px;
    }
     .ICONO{ /* ICONO CHIKITO QUE APARECE EN EL MENU */ 
          cursor: pointer;
          display: inline-block;
       img{
        z-index: 2000;
        position: fixed;
        height: auto;
        width: 65px;
        left: 15px;
        top: 10px;
          transition: 0.2s;

       }
        img:hover{
           transform: scale(1.2); 
          transition: transform 0.1s ease-in-out;
        }
      }
      #confettiGif {
          position: fixed; /* Cubre toda la pantalla */
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover; /* Ajusta el GIF al contenedor */
          z-index: 2100; /* Asegura que el GIF esté sobre otros elementos */
          display: none; /* Oculta el GIF por defecto */
          }
   
    
    .menu{
            padding: 20px;
            padding-left: 100px;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 60px;
            overflow: hidden;
            background-color: #ff6e8d;
            text-align: center;
            z-index: 1400;
 
            a{
                color: white;
                text-decoration: none;
                  font-family: "Cal Sans", sans-serif;
                  font-weight: 400;
                  font-style: normal;
                font-size: 20px;
                padding: 8px 16px;
                border: 2px solid white;
                border-radius: 8px;
                transition: background-color .18s, color .18s, transform .12s;
            }
            a:hover {
                background-color: white;
                color: black;
                transform: translateY(-5px);
            }
        }
      
   /* mi bebe con cositas lindas */
   .imgtienda{
    margin-top: -10px;
    margin-bottom: 100px;
  margin-left: 15%;
  width: 70%;
  height:auto ;
}

.contenedor-tarjetas {
    display: flex;
    justify-content: center; /* centra las tarjetas */
    gap: 20px; /* espacio entre ellas */
    margin-top: 20px;
    z-index: 10;
}
.contenedor-tarjetas2 {
    display: flex;
    justify-content: center; 
    gap: 20px; 
  z-index: 10;
  }
.contenedor-tarjetas3{
display:flex ;
justify-content: center;
gap: 20px;
z-index: 10;
}

.contenedor-tarjetas4{
  display: flex;
  justify-content: center;
  gap: 20px;
  z-index: 10;
}

.imgsp{
  height: 337.5px;
  width:270px ;
  transition: 0.2s;
  z-index: 10;
}
.imgsp:hover{
  transition: transform 0.2s ease-in-out;
  transform: scale(1.1);
}

footer {
  background-color: #ff6e8d;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Cal Sans", sans-serif;
  margin-top: 50px ;
}

/* Casita de la parte izquierda (logos + redes) */
.footer-izquierda {
  display: flex;
  flex-direction: column;
  gap: 15px;      /* gap = espacio entre los hijos del contenedor, es como un margin pero mas cool  */
}

/* Sección de los logos */
.footer-logos {
  
  display: flex;
  align-items: center;
  gap: 10px;
     flex-direction: column; 
    transition: 0.2s;

}

.footer-logos img {
  display: block;
  width:13% ;
  height:13% ;
  padding-left: 150px;  
}
.footer-logos:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease-in-out;
  
}

/* Redes sociales (una debajo de otra) */
.footer-redes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: -50px;
  padding-top: -300px;
}

.footer-redes a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: black;
  font-size: 14px;
  transition: 0.2s;
}

.footer-redes a:hover { /* a de cuenta que si le pasas el puntero las letras cambian de color , aqui lepuedes mover */
  color: #ffffff;
  transform: translateX(5px);
}

.footer-redes img {
  width: 25px;
  height: 25px;
}

/* Texto de derechos reservados */
.footer-derecha {
  align-self: flex-end;
  font-size: 14px;
  color: #ffffff;
}